// Colors and typography

body {
	background: $background-color;
	color: $primary-content-color;
	
	@include debug-vertical-alignment();
} 

// Links

a {
	color: $blue;
	text-decoration: none;
		&:hover,&:focus{
			text-decoration: underline;
		}
	&:visited,&:active{
		color:$violet;
	}
}