
@import "partials/solarized";

// General Solarized (Light)-based color scheme, but more semantic

$background-color: $base3;
$background-highlights-color: $base2;
$primary-content-color: $base00;
$secondary-content-color: $base1;
$emphasized-content-color: $base01;

// Extra colors not in color scheme (for rare exceptions)

$facebook-color: #3b5998;
$twitter-color: #00aced;
$googleplus-color: #c03220;
$tumblr-color: #365069;
