
@import "compass/typography/vertical_rhythm";
@import "modular-scale";

// Reset to set up vertical rhythm

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
}

$base-font-size: 16px;
$base-line-height: 24px;
$modular-scale-ratio: minor-third();

@include establish-baseline;

ul, ol, dl, p {
	margin: $base-line-height 0;
}

h1 {
	font-size: modular-scale(3, 1em, $modular-scale-ratio);
}
h2 {
	font-size: modular-scale(2, 1em, $modular-scale-ratio);
}
h3, .lead {
	font-size: modular-scale(1, 1em, $modular-scale-ratio);
}

$secondary-content-size: modular-scale(-1, 1em, $modular-scale-ratio);
$tertiary-content-size: modular-scale(-2, 1em, $modular-scale-ratio);

figcaption {
	font-size: $secondary-content-size;
}
