
@import "compass/typography/vertical_rhythm";
@import "modular-scale";

////////////////////////////////////////////////////////////////////////////////
// Typefaces ///////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////

//// Latin Modern Roman ////////////////////////////////////////////////////////

@include font-face(
	'Latin Modern Roman Regular', 
	font-files(
		'latinmodern/roman/lmroman10-regular-webfont.woff', woff,
		'latinmodern/roman/lmroman10-regular-webfont.ttf', ttf,
		'latinmodern/roman/lmroman10-regular-webfont.svg', svg),
	'latinmodern/roman/lmroman10-regular-webfont.eot',
	normal,
	normal
);

@include font-face(
	'Latin Modern Roman Bold', 
	font-files(
		'latinmodern/roman/lmroman10-bold-webfont.woff', woff,
		'latinmodern/roman/lmroman10-bold-webfont.ttf', ttf,
		'latinmodern/roman/lmroman10-bold-webfont.svg', svg),
	'latinmodern/roman/lmroman10-bold-webfont.eot',
	bold,
	normal
);

@include font-face(
	'Latin Modern Roman Italic', 
	font-files(
		'latinmodern/roman/lmroman10-italic-webfont.woff', woff,
		'latinmodern/roman/lmroman10-italic-webfont.ttf', ttf,
		'latinmodern/roman/lmroman10-italic-webfont.svg', svg),
	'latinmodern/roman/lmroman10-italic-webfont.eot',
	normal,
	italic
);

@include font-face(
	'Latin Modern Roman Bold Italic', 
	font-files(
		'latinmodern/roman/lmroman10-bolditalic-webfont.woff', woff,
		'latinmodern/roman/lmroman10-bolditalic-webfont.ttf', ttf,
		'latinmodern/roman/lmroman10-bolditalic-webfont.svg', svg),
	'latinmodern/roman/lmroman10-bolditalic-webfont.eot',
	bold,
	italic
);

@include font-face(
	'Latin Modern Roman Caps Regular', 
	font-files(
		'latinmodern/roman/lmromancaps10-regular-webfont.woff', woff,
		'latinmodern/roman/lmromancaps10-regular-webfont.ttf', ttf,
		'latinmodern/roman/lmromancaps10-regular-webfont.svg', svg),
	'latinmodern/roman/lmromancaps10-regular-webfont.eot',
	normal,
	normal
);

@include font-face(
	'Latin Modern Roman Caps Oblique', 
	font-files(
		'latinmodern/roman/lmromancaps10-oblique-webfont.woff', woff,
		'latinmodern/roman/lmromancaps10-oblique-webfont.ttf', ttf,
		'latinmodern/roman/lmromancaps10-oblique-webfont.svg', svg),
	'latinmodern/roman/lmromancaps10-oblique-webfont.eot',
	normal,
	italic
);

////// Boilerplates ////////////////////////////////////////////////////////////

%serif {
	font-family: 'Latin Modern Roman Regular', 'Baskerville', 'Georgia', serif;
}

%serif-bold {
	font-family: 'Latin Modern Roman Bold', 'Baskerville', 'Georgia', serif;
	font-weight: bold;
}

%serif-italic {
	font-family: 'Latin Modern Roman Italic', 'Baskerville', 'Georgia', serif;
	font-style: italic;
}

%serif-bolditalic {
	font-family: 'Latin Modern Roman Bold Italic', 'Baskerville', 'Georgia', serif;
	font-weight: bold;
	font-style: italic;
}

%serif-caps {
	font-family: 'Latin Modern Roman Caps Regular', 'Baskerville', 'Georgia', serif;
}

%serif-caps-italic {
	font-family: 'Latin Modern Roman Caps Oblique', 'Baskerville', 'Georgia', serif;
	font-style: italic;
}

//// Latin Modern Sans /////////////////////////////////////////////////////////

@include font-face(
	'Latin Modern Sans Regular', 
	font-files(
		'latinmodern/sans/lmsans10-regular-webfont.woff', woff,
		'latinmodern/sans/lmsans10-regular-webfont.ttf', ttf,
		'latinmodern/sans/lmsans10-regular-webfont.svg', svg),
	'latinmodern/sans/lmsans10-regular-webfont.eot',
	normal,
	normal
);

@include font-face(
	'Latin Modern Sans Bold', 
	font-files(
		'latinmodern/sans/lmsans10-bold-webfont.woff', woff,
		'latinmodern/sans/lmsans10-bold-webfont.ttf', ttf,
		'latinmodern/sans/lmsans10-bold-webfont.svg', svg),
	'latinmodern/sans/lmsans10-bold-webfont.eot',
	bold,
	normal
);

@include font-face(
	'Latin Modern Sans Oblique', 
	font-files(
		'latinmodern/sans/lmsans10-oblique-webfont.woff', woff,
		'latinmodern/sans/lmsans10-oblique-webfont.ttf', ttf,
		'latinmodern/sans/lmsans10-oblique-webfont.svg', svg),
	'latinmodern/sans/lmsans10-oblique-webfont.eot',
	normal,
	italic
);

@include font-face(
	'Latin Modern Sans Bold Oblique', 
	font-files(
		'latinmodern/sans/lmsans10-boldoblique-webfont.woff', woff,
		'latinmodern/sans/lmsans10-boldoblique-webfont.ttf', ttf,
		'latinmodern/sans/lmsans10-boldoblique-webfont.svg', svg),
	'latinmodern/sans/lmsans10-boldoblique-webfont.eot',
	bold,
	italic
);
	
////// Boilerplates ////////////////////////////////////////////////////////////

%sans {
	font-family: 'Latin Modern Sans Regular', 'Futura', 'Verdana', sans-serif;
}

%sans-bold {
	font-family: 'Latin Modern Sans Bold', 'Futura', 'Verdana', sans-serif;
	font-weight: bold;
}

%sans-italic {
	font-family: 'Latin Modern Sans Oblique', 'Futura', 'Verdana', sans-serif;
	font-style: italic;
}

%sans-bolditalic {
	font-family: 'Latin Modern Sans Bold Oblique', 'Futura', 'Verdana', sans-serif;
	font-weight: bold;
	font-style: italic;
}

//// Latin Modern Monospace ////////////////////////////////////////////////////

@include font-face(
	'Latin Modern Monospace Regular', 
	font-files(
		'latinmodern/mono/lmmono10-regular-webfont.woff', woff,
		'latinmodern/mono/lmmono10-regular-webfont.ttf', ttf,
		'latinmodern/mono/lmmono10-regular-webfont.svg', svg),
	'latinmodern/mono/lmmono10-regular-webfont.eot',
	normal,
	normal
);

@include font-face(
	'Latin Modern Monospace Italic', 
	font-files(
		'latinmodern/mono/lmmono10-italic-webfont.woff', woff,
		'latinmodern/mono/lmmono10-italic-webfont.ttf', ttf,
		'latinmodern/mono/lmmono10-italic-webfont.svg', svg),
	'latinmodern/mono/lmmono10-italic-webfont.eot',
	normal,
	italic
);

@include font-face(
	'Latin Modern Monospace Light Bold', 
	font-files(
		'latinmodern/mono/lmmonolt10-bold-webfont.woff', woff,
		'latinmodern/mono/lmmonolt10-bold-webfont.ttf', ttf,
		'latinmodern/mono/lmmonolt10-bold-webfont.svg', svg),
	'latinmodern/mono/lmmonolt10-bold-webfont.eot',
	bold,
	normal
);

@include font-face(
	'Latin Modern Monospace Light Bold Oblique', 
	font-files(
		'latinmodern/mono/lmmonolt10-boldoblique-webfont.woff', woff,
		'latinmodern/mono/lmmonolt10-boldoblique-webfont.ttf', ttf,
		'latinmodern/mono/lmmonolt10-boldoblique-webfont.svg', svg),
	'latinmodern/mono/lmmonolt10-boldoblique-webfont.eot',
	bold,
	italic
);
	
////// Boilerplates ////////////////////////////////////////////////////////////

%monospace {
	font-family: 'Latin Modern Monospace Regular', 'Courier', monospace;
}

%monospace-italic {
	font-family: 'Latin Modern Monospace Italic', 'Courier', monospace;
	font-style: italic;
}

%monospace-bold {
	font-family: 'Latin Modern Monospace Light Bold', 'Courier', monospace;
	font-weight: bold;
}

%monospace-bolditalic {
	font-family: 'Latin Modern Monospace Light Bold Oblique', 'Courier', monospace;
	font-weight: bold;
	font-style: italic;
}


////////////////////////////////////////////////////////////////////////////////
// Reset to set up vertical rhythm /////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
}

////////////////////////////////////////////////////////////////////////////////
// Set up vertical rhythm and modular scale ////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////

$modular-scale-ratio: minor-third();
$height-ratio: golden();

$base-font-size: 20px;

$base-line-height: $height-ratio * $base-font-size;

@include establish-baseline;

ul, ol, dl, p, pre, h1, h2, h3 {
	padding-bottom: $base-line-height;
}

$secondary-content-size: modular-scale(-1, 1em, $modular-scale-ratio);
$tertiary-content-size: modular-scale(-2, 1em, $modular-scale-ratio);

////////////////////////////////////////////////////////////////////////////////
// Set up fonts ////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////

body {
	@extend %serif;
}

h1 {
	font-size: modular-scale(3, 1em, $modular-scale-ratio);
	@extend %sans-bold;

}
h2 {
	font-size: modular-scale(2, 1em, $modular-scale-ratio);
	@extend %sans-bold;
}
h3 {
	font-size: modular-scale(1, 1em, $modular-scale-ratio);
	@extend %sans-bold;
}

.summary {
	font-size: modular-scale(1, 1em, $modular-scale-ratio);
}

strong {
	@extend %serif-bold;
}

em {
	@extend %serif-italic;
	}

em strong, strong em {
	@extend %serif-bolditalic;
}

pre {
	@extend %monospace;
		
	strong {
		@extend %monospace-bold;
	}

	em {
		@extend %monospace-italic;
	}

	em strong, strong em {
		@extend %monospace-bolditalic;
	}
}

figcaption {
	font-size: $secondary-content-size;
	@extend %sans;
	color: $secondary-content-color;
}

.byline, .meta1 {
	font-size: $secondary-content-size;
	@extend %serif-caps;
	@extend %no-bullet;
}

.meta2, .image-meta, .image-pub-meta {
	font-size: $secondary-content-size;
	@extend %sans;
	@extend %no-bullet;
}
