// Layout


//// Common layout for all content

////// Header

#header{/*
		@include at-breakpoint($fair-viewport-columns) {
			@include span-columns(5 omega, $fair-viewport-columns);
		}
		@include at-breakpoint($wider-viewport-columns) {
			@include span-columns(3, $wider-viewport-columns);
			@include pre(2);
		}*/
	}
	
	


#site-header {

	// Typography
	.primary-content-size;
	.fumseck-sans;

	// Appearance // TODO: add image background fallback
	// #gradient > .vertical(@background-color, @background-highlights-color);
	.box-shadow(0 2px 10px @secondary-content-color);
	margin-bottom: (@base-line-height * 2);

	// Colors

	a {
		.button-style-link;
	}

	// Layout
	ul { padding-bottom: 0;};
}

#site-navigation { margin-bottom: 0; }

/*
.opt {
	display: none;
	@include at-breakpoint($fair-viewport-columns) {
		display: inline;
	}
}
*/

.assistive-text {
	.sr-only;
}

#menu-nav-menu .home {
	.hidden-lg;
}

.navbar-toggle-label {
	@media only screen and (max-width: @screen-sm) { 
		.sr-only;
	}
}

.navbar-toggle { color: @primary-content-color; }

#menu-nav-menu {
	li {
		border-left: 1px solid @background-highlights-color;
		&:last-child { border-right: 1px solid @background-highlights-color; }
	}
}
