// Inserts a font face declaration /////////////////////////////////////////////

@fonts-dir: "fonts";

.font-face (@family, @file-prefix, @weight: normal, @style: normal) {
	@font-face {
		font-family: @family;
		src: url("@{fonts-dir}/@{file-prefix}.eot");
		src: url("@{fonts-dir}/@{file-prefix}.eot?#iefix") format("embedded-opentype"),
			url("@{fonts-dir}/@{file-prefix}.woff") format("woff"),
			url("@{fonts-dir}/@{file-prefix}.ttf") format("truetype");
		font-weight: @weight;
		font-style: @style;
	}
}

// Removes list bullets ////////////////////////////////////////////////////////

.no-bullet {
	list-style-type: none;
}

.@{fa-css-prefix}-smaller { font-size: 0.7em; }
