
// Syndication buttons

.syndication{
	
	a {
		text-decoration: none;
		padding: 0 .2em;
		border-radius: .4em;
		&:hover { color: white;	}
	}

	.facebook:hover { background-color: @facebook-color; }
	.twitter:hover { background-color: @twitter-color; }
	.googleplus:hover { background-color: @googleplus-color; }
	.tumblr:hover { background-color: @tumblr-color; }
}
