// Copyright notes /////////////////////////////////////////////////////////////

.copyright-info {
	padding-bottom: @base-line-height;
}

.copyright-info-inner {
	border: 1px solid @background-highlights-color;
	padding: 7px 10px 10px 10px;
	
	p:last-child {
		padding-bottom: 0px;
	}
}

.copyright-info-content {
	padding-left: 30px;
}

// Inline images ///////////////////////////////////////////////////////////////

.wp-caption {
    max-width: 96%; /* Image does not overflow the content area */
    padding: 5px 3px 10px;
    text-align: center;
}

.wp-caption img {
    background-color: @background-highlights-color;
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
}
